{% extends 'base.html' %}
{% block content %}

<h1>Store - {{ store.title }}</h1>


<h3>Address: <span style="font-weight: 100;">{{ store.address }}</span></h3> 


<h2>Created By: <span style="font-weight: 100;">{{ created_by_user.username }}</span></h2>



<div class="items">
    {% for item in store.items %}

    <div class="item-details">
        <p><strong>{{ item.name }}</strong></p></a>
        <p><strong>Price: ${{ item.price }}</strong></p>
        <a href="/item/{{ item.id }}"><img src="{{ item.photo_url }}" alt="{{ item.name }}" width="200px" height="200px">
    </div>

    {% endfor %}

</div>


<form method="POST" action="{{ url_for('main.store_detail', store_id=store.id) }}">

    {{ form.csrf_token }}

    <fieldset>

        <legend>Enter Store Details:</legend>
        {{ form.title.label }}
        {{ form.title }}
        {% for error in form.title.errors %}
        <li style="color: red">{{ error }}</li>
        {% endfor %}

        {{ form.address.label }}
        {{ form.address }}
        {% for error in form.address.errors %}
        <li style="color: red">{{ error }}</li>
        {% endfor %}
        
        {{ form.submit }}

    </fieldset>

</form>

{% endblock %}